:root {

}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  padding: 0 !important;
  padding-bottom: 0 !important;
  margin: 0;
  font-family: -apple-system, Poppins, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, Poppins, sans-serif !important;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-box{
  display: flex;
  align-items: center;
  width: 100%;
  &.space-between{
    justify-content: space-between;
  }
  &.center{
    justify-content: center;
  }
  &.start{
    justify-content: flex-start;
  }
  &.end{
    justify-content: flex-end;
  }
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
}